.dumps# Python_Oreilly_projects
britecore
michelle_checking_in.txt
sonnet_words.txt
sonnets.txt
sowpods.txt
__pycache__
jeopardy.db
jeopardy.dump
constitution.txt
life_expectancies_usa.txt
mystery.txt
world_population.txt
apod_pix
